@tailwind base;
@tailwind components;
@tailwind utilities;


@media screen and (max-width: 640px){
    .map-container {
        height: 50vh;
    }
}

@media screen and (min-width: 640px){
    .map-container {
        height: 100vh;
    }
}





     
    /* .rightbox {
    background-color: rgba(35, 55, 75, 0.9);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    align-self: flex-end;
  
    margin: 12px;
    border-radius: 4px;
    } */